<div class="background-table">
  <div class="wrapper-cards">
    <div class="bids">
      <app-bid [isMyBid]="false" [isSmallScreen]="isSmallScreen"></app-bid>
      <!-- Player at 90°-->
    </div>
    <div class="bids">
      <app-bid [isMyBid]="false" [isSmallScreen]="isSmallScreen"></app-bid>
      <app-bid [isMyBid]="false" [isSmallScreen]="isSmallScreen"></app-bid>
      <!-- Player at 0°-->
      <!-- Player at 270°-->
    </div>
    <div class="bids">
      <app-bid [isMyBid]="true" [isSmallScreen]="isSmallScreen"></app-bid>
      <!-- Me: 180°-->
    </div>
  </div>
</div>
