:host {
  display: flex;
}
@mixin player-idx-n($just-cont, $align-cont) {
  flex: 1;
  display: flex;
  justify-content: $just-cont;
  align-content: $align-cont;
}
.player-idx-two {
  @include player-idx-n(center, flex-end);
  margin-bottom: 0;
}
.player-idx-zero {
  @include player-idx-n(center, center);
}
.player-idx-three {
  @include player-idx-n(flex-start, center);
  margin-left: 0;
}
.player-idx-one {
  @include player-idx-n(flex-end, center);
}
@mixin chip-player {
  background-color: #193812;
  color: white;
  font-family: "Roboto", sans-serif;
  max-width: 170px;
  height: fit-content;
}
.matChipCol-blink {
  @include chip-player;
  animation: blinker 2s step-start infinite;
}
.matChipCol {
  @include chip-player;
}
.icon-player {
  margin-right: 5px;
}




