.wrapper-north {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.chip-north {
  flex: fit-content;
  margin-bottom: 0;
  // margin-bottom: 10px;
}
.player-idx-two {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  margin-bottom: 0;
}
.player-idx-zero {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}
.player-idx-three {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.player-idx-one {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
@mixin chip-player {
  background-color: #193812;
  color: white;
  font-family: "Roboto", sans-serif;
}
.matChipCol-blink {
  @include chip-player;
  animation: blinker 2s step-start infinite;
}
.matChipCol {
  @include chip-player;
}
.resume-wrapper {
  background-color: #c2185b;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
}
.resume {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.button-bid {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}
.item {
  flex: 1;
  color: whitesmoke;
  font-size: small;
}
.itemContent {
  color: ghostwhite;
  font-weight: bold;
  font-size: small;
}
.nextPlayer {
  // animation: blinker 3s step-start infinite;
  color: lightpink;
  font-weight: bold;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.icon-player {
  margin-right: 10px;
}




