<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{title}}
      <mat-card-subtitle>
        Select a game and then click "Join" or
        <button
          [disabled]="isRowSelected"
          class="create-button" mat-button color="accent"
          (click)="createNewGame()">create a new one
        </button>
      </mat-card-subtitle>
    </mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <div class="wrapper-button">
      <ng-container *ngIf="isRowSelected">
        <span class="game-id">Selected game <strong>{{selectedDataStringPresentation}}</strong></span>
      </ng-container>
      <button
        [disabled]="!isRowSelected"
        class="button-select" mat-raised-button color="primary"
        (click)="joinGame()">Join
      </button>
    </div>
    <ag-grid-angular
      #agGrid
      style="min-width: 400px; height: 400px;"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [isRowSelectable]="isRowSelectable"
      rowSelection="single"
      (click)="getSelectedRows()"
    >
    </ag-grid-angular>
  </mat-card-content>
</mat-card>
