<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{title}}
      <mat-card-subtitle>
        Select one game or create a new one
      </mat-card-subtitle>
    </mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <button mat-button (click)="getSelectedRows()">Get Selected Rows</button>
    <ag-grid-angular
      #agGrid
      style="min-width: 400px; height: 500px;"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [isRowSelectable]="isRowSelectable"
      rowSelection="single"
    >
    </ag-grid-angular>
  </mat-card-content>
</mat-card>
