<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{title}}
      <mat-card-subtitle>
        Select a game and then click "Join" or create a new one
      </mat-card-subtitle>
    </mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <div class="wrapper-button">
      <span class="game-id">Selected game {{selectedDataStringPresentation}}</span>
      <button class="button-select" mat-raised-button color="primary" (click)="getSelectedRows($event)">Join</button>
    </div>
    <ag-grid-angular
      #agGrid
      style="min-width: 400px; height: 400px;"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [isRowSelectable]="isRowSelectable"
      rowSelection="single"
    >
    </ag-grid-angular>
  </mat-card-content>
</mat-card>
