:host(.bid) {
  flex: 1;
  display: flex;
}
@mixin width-height-bid($min-width, $margin-top-bid, $margin-bottom-bid, $margin-right-bid) {
  flex: 1;
  margin: $margin-top-bid $margin-right-bid $margin-bottom-bid $margin-right-bid;
  background-color: darkgreen;
  color: limegreen;
  min-width: $min-width;
}
@media(max-width: 959px) {
  .bid {
    @include width-height-bid(80px, 10px, 10px, 2px)
  }
}
@media(min-width: 960px) {
  .bid {
    @include width-height-bid(120px, 40px, 40px, 20px)
  }
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2px;
}
.validate {
  flex: fit-content;
  display: flex;
  align-content: center;
  background-color: brown;
}
.mat-button-wrapper {
  flex: fit-content;
}



