.mini-card {
  font-size: 14px;
  background-color: whitesmoke;
  padding: 2px 4px;
  margin: 4px 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #0a0d0b;
}
/*.emoji-card-red {
  color: red;
}
.emoji-card-black {
  color: #343434;
}*/
.labelCardRed {
  color: #cc0000;
}
.labelCardBlack {
  color: black;
}
