.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.action {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.btn-action-save {
  flex: fit-content;
}
.btn-action-cancel {
  flex: fit-content;
}
.card-dialog {
  background-color: inherit;
  font-size: 12px;
  align-self: center;
  min-height: 280px;
}
.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
}
.radio-button {
  margin: 2px;
}
.form-field {
  width: 100%;
}

