<mat-card class="resume-wrapper">
  <div class="resume">
    <div class="item">State: <span class="itemContent">{{gameState}}</span></div>
    <ng-container *ngIf="gameState !== 'JOINING'">
      <div class="item">Scores:
        <span class="itemContent">
            {{bidData?.eastNicknames | shorterName: 8}}/{{bidData?.westNicknames | shorterName: 8}}:
          {{bidData?.eastWest}}
        </span>
        <span>vs</span>

      </div>
      <div class="itemScores">
        {{bidData?.northNicknames | shorterName: 8}}/{{bidData?.southNicknames | shorterName: 8}}:
        {{bidData?.northSouth}}
      </div>
    </ng-container>
    <ng-container *ngIf="gameState === 'BIDDING' || gameState === 'PLAYING'">
      <div class="item">CurrentBid:
        <span class="itemContent">{{bidData?.currentBidNickname | shorterName: 8}}
          - {{bidData?.currentBidPoints}} {{bidData?.currentBidColor}}
          {{bidData?.currentBidType === 'SimpleBid' ? '' : bidData?.currentBidType}}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="gameState !=='ENDED' else ended">
      <ng-container *ngIf="gameState === 'BIDDING' || gameState === 'PLAYING'; else joining">
        <div class="item">Waiting for
          <span class="nextPlayer">{{bidData.nextPlayer | shorterName: 8}}
          </span> to <span class="itemContent">{{playOrBid}}</span>
        </div>
      </ng-container>
      <ng-template #joining>
        <div class="item">Waiting for other players to join the game
        </div>
      </ng-template>
    </ng-container>
    <ng-template #ended>
      <div class="item-blink">Game over. The winners are:
        <strong>
          {{winner1 | shorterName: 8}}/{{winner2 | shorterName: 8}}
        </strong>
      </div>
    </ng-template>

  </div>
</mat-card>
