<mat-card class="resume-wrapper">
  <div class="resume">
    <div class="item">State: <span class="itemContent">{{gameState}}</span></div>
    <ng-container *ngIf="gameState !== 'JOINING'">
      <div class="item">
        <span class="itemContent">{{pairEastWestNamePadding}}:</span>
        <span class="itemContent"> {{bidData?.eastWest}}</span>
      </div>
      <div class="item">
        <span class="itemContent">{{pairNorthSouthNamePadding}}:</span>
        <span class="itemContent"> {{bidData?.northSouth}}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="gameState === 'BIDDING' || gameState === 'PLAYING'">
      <ng-container *ngIf="showBidAnnounced">
        <div class="item">
          <span class="itemContent">{{currentOrPreviousBid}}:</span>
          <span class="itemContentRight">{{bidData?.currentBidNickname | shorterName: 14}}
            - {{bidData?.currentBidPoints}} {{bidData?.currentBidColor}}
            {{bidData?.currentBidType === 'SimpleBid' ? '' : bidData?.currentBidType}}
        </span>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="gameState !=='ENDED' else ended">
      <ng-container *ngIf="gameState === 'BIDDING' || gameState === 'PLAYING'; else joining">
        <div class="item-left">
          <span>Waiting for</span>
          <span class="itemContentRight">{{bidData.nextPlayer | shorterName: 14}}</span>
          <span class="itemContentRight"> to {{playOrBid}}</span>
        </div>
      </ng-container>
      <ng-template #joining>
        <div class="item"><span>Waiting for other players to join the game</span>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #ended>
      <div class="item-blink">
        <span class="itemContent">
          The winners:
        </span>
        <span class="itemContentRight">
          {{winner1 | shorterName: 14}}/{{winner2 | shorterName: 14}}
        </span>
      </div>
    </ng-template>

  </div>
</mat-card>
