<mat-card class="resume-wrapper">
  <div class="resume">
    <div class="item">State: <span class="itemContent">{{gameState}}</span></div>
    <ng-container *ngIf="gameState !== 'JOINING'">
      <div class="item">Score <span class="itemContent">E/W: {{bidData?.eastWest}} - N/S: {{bidData?.northSouth}}</span></div>
    </ng-container>
    <ng-container *ngIf="gameState === 'PLAYING' || gameState === 'ENDED'">
      <div class="item">CurrentBid:
        <span class="itemContent">{{bidData?.currentBidNickname}}
          - {{bidData.currentBidPoints}} {{bidData.currentBidColor}} {{bidData.currentBidType}}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="gameState === 'BIDDING' || gameState === 'PLAYING'; else joining">
      <div class="item">Waiting for
        <span class="nextPlayer">{{bidData.nextPlayer}}
          </span> to <span class="itemContent">{{playOrBid}}</span>
      </div>
    </ng-container>
    <ng-template #joining>
      <div class="item">Waiting for other players to join the game
      </div>
    </ng-template>
  </div>
</mat-card>
