
<mat-grid-list cols="5" rowHeight="120px" gutterSize="0">
  <mat-grid-tile
    [colspan]="tiles[0].cols"
    [rowspan]="tiles[0].rows"
    [style.background]="tiles[0].color">
    <div class="horizontal">
      <div>
        <span>Player 0</span>
        <button mat-raised-button color="primary" (click)="onClickButton($event)">Submit</button>
        <button mat-raised-button color="accent">Cancel</button>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[1].cols"
    [rowspan]="tiles[1].rows"
    [style.background]="tiles[1].color">
    <div class="lateral">
      <div>
          <span>Player 1</span>
          <button mat-raised-button color="primary">Submit</button>
          <button mat-raised-button color="accent">Cancel</button>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[2].cols"
    [rowspan]="tiles[2].rows"
    [style.background]="tiles[2].color">
    <div class="background-table">
      <div class="wrapper-cards">
        <div class="row1">
          <button class="card-played custom-shadow"
                  [ngStyle]="{'background': myCardMap.get('HEART7').backgroundImg}"
                  (click)="onClickCard($event, 1, myCardMap.get('HEART7'))"
                  [value]="myCardMap.get('HEART7').value">
          </button>
        </div>
        <div class="row2">
          <button class="card-played custom-shadow"
                  [ngStyle]="{'background': myCardMap.get('CLUB1').backgroundImg}"
                  (click)="onClickCard($event, 1, myCardMap.get('CLUB1'))"
                  [value]="myCardMap.get('CLUB1').value">
          </button>
          <button class="card-played custom-shadow"
                  [ngStyle]="{'background': myCardMap.get('SPADE10').backgroundImg}"
                  (click)="onClickCard($event, 1, myCardMap.get('SPADE10'))"
                  [value]="myCardMap.get('SPADE10').value">
          </button>
        </div>
        <div class="row3">
          <button class="card-played custom-shadow"
                  [ngStyle]="{'background': myCardMap.get('DIAMOND8').backgroundImg}"
                  (click)="onClickCard($event, 1, myCardMap.get('DIAMOND8'))"
                  [value]="myCardMap.get('DIAMOND8').value">
          </button>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[3].cols"
    [rowspan]="tiles[3].rows"
    [style.background]="tiles[3].color">
    <div>
      <div>
        <span>Player 2</span>
        <button mat-raised-button color="primary">Submit</button>
        <button mat-raised-button color="accent">Cancel</button>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[4].cols"
    [rowspan]="tiles[4].rows"
    [style.background]="tiles[4].color">
    <div>
      <div>
        <span>Player 4</span>
        <button mat-raised-button color="primary">Submit</button>
        <button mat-raised-button color="accent">Cancel</button>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
