@mixin width-height-card($width-value, $height-value) {
  width: $width-value;
  height: $height-value;
  border: none;
  border-radius: 5px;
}

@media(max-width: 959px) {
  .card {
    @include width-height-card(60px, 87px);
    margin: 10px -15px;
  }
  .card-inactive {
    @include width-height-card(60px, 87px);
    margin: 10px -15px;
    filter: blur(1px);
  }
  .card-played {
    @include width-height-card(60px, 87px);
    margin: 10px;
  }
  .cards {
    min-height: 105px;
  }
}

@media(min-width: 960px) {
  .card {
    @include width-height-card(120px, 174px);
    margin: 30px -30px;
  }
  .card-inactive {
    @include width-height-card(120px, 174px);
    margin: 30px -30px;
    filter: blur(1px);
  }

  .card-played {
    @include width-height-card(120px, 174px);
    margin-left: 75px;
    margin-right: 75px;
  }
  .cards {
    min-height: 210px;
  }
}





