<mat-card class="qoinche-card">
  <mat-card-header>
    <div mat-card-avatar class="qoinche-header-image"></div>
    <mat-card-title>
      Login page
    </mat-card-title>
    <mat-card-subtitle>Enter your user id and password</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <div>
        <mat-form-field>
          <mat-label>
            User id
          </mat-label>
          <input matInput formControlName="userId" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
