@mixin card-width ($width-value, $marginTop) {
  width: $width-value;
  margin: $marginTop auto;
}
:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.login-page {
  height: 100vh;
  display: flex;
  width: 600px;
  justify-content: space-around;
  align-items: flex-start;
}

@media(max-width: 959px) {
  .coinche-card {
    @include card-width(380px, 150px)
  }
}

@media(min-width: 960px) {
  .coinche-card {
    @include card-width(500px, 150px)
  }
}

.coinche-header-image {
  background-image: url("src/assets/images/playing-cards-av.jpeg");
  background-size: cover;
}
.mat-form-field {
  padding-left: 10%;
  max-width: 240px;
  min-width: 80%;
}
.mat-card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.button-submit {
  margin-bottom: 20px;
  margin-right: 20px;
}
