<!--<app-state [state]="gameState"></app-state>-->

<mat-grid-list cols="5" [rowHeight]="rowHeight" gutterSize="0" role="list">
  <mat-grid-tile
    [colspan]="tiles[0].cols"
    [rowspan]="tiles[0].rows"
    [style.background]="tiles[0].color">
    <mat-card class="resume-wrapper">
      <div class="resume">
        <div class="item">State: <span class="itemContent">{{gameState}}</span></div>
        <div class="item">Score <span class="itemContent">E/W: {{eastWest}} - N/S: {{northSouth}}</span></div>
        <ng-container *ngIf="gameState === 'PLAYING' || gameState === 'ENDED'">
          <div class="item">CurrentBid:
            <span class="itemContent">{{currentBidNickname}} - {{currentBidType}}</span>
          </div>
        </ng-container>
        <div class="item">Waiting for
          <span class="nextPlayer">{{nextPlayer}}
          </span> to <span class="itemContent">{{playOrBid}}</span>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[1].cols"
    [rowspan]="tiles[1].rows"
    [style.background]="tiles[1].color">
    <app-chip-player [idx]="2" [nextPlayerIdx]="nextPlayerIdx" [nickname]="playersPosOnTable[2]"></app-chip-player>
  </mat-grid-tile>
  <mat-grid-tile
    role="listItem"
    [colspan]="tiles[2].cols"
    [rowspan]="tiles[2].rows"
    [style.background]="tiles[2].color">
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[3].cols"
    [rowspan]="tiles[3].rows"
    [style.background]="tiles[3].color">
    <app-chip-player [idx]="1" [nextPlayerIdx]="nextPlayerIdx" [nickname]="playersPosOnTable[1]"></app-chip-player>
  </mat-grid-tile>
  <mat-grid-tile
    role="listitem"
    [colspan]="tiles[4].cols"
    [rowspan]="tiles[4].rows"
    [style.background]="tiles[4].color">
    <ng-container *ngIf="gameState==='PLAYING'; else bidding">
      <app-on-table-playing [cardsPlayed]="cardsPlayed" [isSmallScreen]="isSmallScreen"></app-on-table-playing>
    </ng-container>
    <ng-template #bidding>
      <app-on-table-bidding [isSmallScreen]="isSmallScreen" [bidListOrdered]="bidListOrdered"></app-on-table-bidding>
    </ng-template>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[5].cols"
    [rowspan]="tiles[5].rows"
    [style.background]="tiles[5].color">
    <app-chip-player [idx]="3" [nextPlayerIdx]="nextPlayerIdx" [nickname]="playersPosOnTable[3]"></app-chip-player>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[6].cols"
    [rowspan]="tiles[6].rows"
    [style.background]="tiles[6].color">
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[7].cols"
    [rowspan]="tiles[7].rows"
    [style.background]="tiles[7].color">
    <app-chip-player [idx]="0" [nextPlayerIdx]="nextPlayerIdx" [nickname]="playersPosOnTable[0]"></app-chip-player>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[8].cols"
    [rowspan]="tiles[8].rows"
    [style.background]="tiles[8].color">
    <ng-container *ngIf="isMyTurn && !isDisableBid">
      <mat-card class="resume-wrapper">
        <div class="button-bid">
          <button
            [disabled]="isDisableBid"
            color="primary"
            mat-raised-button
            (click)="openDialog()">Announce my bid
          </button>
        </div>
      </mat-card>
    </ng-container>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[9].cols"
    [rowspan]="tiles[9].rows"
    [style.background]="tiles[9].color">
    <app-my-cards
      [myCardMap]="myCardMap"
      [isSmallScreen]="isSmallScreen"
      (cardChosen)="onCardChosen($event)"
      [isDisable]="isMyCardsDisable">
    </app-my-cards>
  </mat-grid-tile>
</mat-grid-list>

