.wrapper-north {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.chip-north {
  flex: fit-content;
  margin-bottom: 10px;
}
.player-south {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-content: flex-end;
}
.player-north {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}
.player-west {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.player-east {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.matChipCol {
  background-color: #193812;
  color: white;
  font-family: "Roboto", sans-serif;
}
.resume-wrapper {
  flex: 1;
  background-color: darkgreen;
  display: flex;
  align-self: center;
}
.resume {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.item {
  flex: 1;
  color: lightyellow;
}
.itemContent {
  color: limegreen;
  font-weight: bold;
}
.currentPlayer {
  animation: blinker 3s step-start infinite;
  color: limegreen;
  font-weight: bold;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}




