<!--<app-state [state]="gameState"></app-state>-->

<mat-grid-list cols="5" [rowHeight]="rowHeight" gutterSize="0">
  <mat-grid-tile
    [colspan]="tiles[0].cols"
    [rowspan]="tiles[0].rows"
    [style.background]="tiles[0].color">
    <div class="player-idx-two">
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[1].cols"
    [rowspan]="tiles[1].rows"
    [style.background]="tiles[1].color">
    <div class="player-idx-two">
      <mat-chip-list aria-label="Player">
        <mat-chip [ngClass]="currentPlayerIdx===2 ? 'matChipCol-blink' : 'matChipCol'">
          {{playersPosOnTable[2]}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[2].cols"
    [rowspan]="tiles[2].rows"
    [style.background]="tiles[2].color">
    <mat-card class="resume-wrapper">
      <div class="resume">
        <div class="item">Score:</div>
        <div class="item">CurrentBid:
          <span class="itemContent">{{currentBidNickname}} - {{currentBidType}}</span>
        </div>
        <div class="item">Turn to
          <span class="currentPlayer">{{currentPlayer}}
          </span> to play
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[3].cols"
    [rowspan]="tiles[3].rows"
    [style.background]="tiles[3].color">
    <div class="player-idx-one">
      <mat-chip-list aria-label="Player">
        <mat-chip [ngClass]="currentPlayerIdx===1 ? 'matChipCol-blink' : 'matChipCol'">
          {{playersPosOnTable[1]}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[4].cols"
    [rowspan]="tiles[4].rows"
    [style.background]="tiles[4].color">
    <!--<ng-container *ngIf="gameState==='PLAYING'; else bidding">-->
    <app-on-table [cardsPlayed]="cardsPlayed" [isSmallScreen]="isSmallScreen"></app-on-table>
    <!-- </ng-container>-->
    <ng-template #bidding>
      bidding here
    </ng-template>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[5].cols"
    [rowspan]="tiles[5].rows"
    [style.background]="tiles[5].color">
    <div class="player-idx-three">
      <mat-chip-list aria-label="Player">
        <mat-chip [ngClass]="currentPlayerIdx===3 ? 'matChipCol-blink' : 'matChipCol'">
          {{playersPosOnTable[3]}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[6].cols"
    [rowspan]="tiles[6].rows"
    [style.background]="tiles[6].color">
    <!--<div class="player-idx-zero">
    </div>-->
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[7].cols"
    [rowspan]="tiles[7].rows"
    [style.background]="tiles[7].color">
    <div class="player-idx-zero">
      <mat-chip-list class="chip-north" aria-label="Player">
        <mat-chip [ngClass]="currentPlayerIdx===0 ? 'matChipCol-blink' : 'matChipCol'">
          {{playersPosOnTable[0]}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[8].cols"
    [rowspan]="tiles[8].rows"
    [style.background]="tiles[8].color">
    <div class="player-idx-zero">
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[9].cols"
    [rowspan]="tiles[9].rows"
    [style.background]="tiles[9].color">
    <app-my-cards
      [myCardMap]="myCardMap"
      [isSmallScreen]="isSmallScreen"
      (cardChosen)="onCardChosen($event)"
      [isDisable]="isMyCardsDisable">
    </app-my-cards>
  </mat-grid-tile>
</mat-grid-list>

