<div>
  <div class="bid-wrapper-1">
    <div class="fabBtns">
      <button class="fab" mat-mini-fab color="primary" (click)="clickMinus()"><span class="sign">-</span></button>
      <span class="score">{{points}}</span>
      <button class="fab" mat-mini-fab color="primary" (click)="clickPlus()"><span class="sign">+</span></button>
    </div>
    <div class="colors">
      <button mat-mini-fab class="btn" [ngStyle]="{'background': clubImg}" (click)="clickClub()">
      </button>
      <button mat-mini-fab class="btn" [ngStyle]="{'background': diamondImg}" (click)="clickDiamond()">
      </button>
      <button mat-mini-fab class="btn" [ngStyle]="{'background': spadeImg}" (click)="clickSpade()">
      </button>
      <button mat-mini-fab class="btn" [ngStyle]="{'background': heartImg}" (click)="clickHeart()">
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="score">
      {{pointsLabel}} {{color}}
    </div>
    <div class="validateBtn">
      <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Validate</button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="bid-wrapper-2">
    <button class="fab" mat-raised-button color="accent" (click)="onNoClick()">Cancel</button>
    <button class="fab" mat-raised-button color="accent" (click)="clickPass()">Pass</button>
    <button class="fab" mat-raised-button color="accent" (click)="clickCoinche()">Coinche</button>
  </div>
</div>
