<div>
  <div class="bid-wrapper-1">
    <div class="fabBtns">
      <button class="fab" mat-mini-fab color="primary" (click)="clickMinus()"><span class="sign">-</span></button>
      <span class="score">{{pointsLabel}}</span>
      <button class="fab" mat-mini-fab color="primary" (click)="clickPlus()"><span class="sign">+</span></button>
    </div>
    <div class="colors">
      <button mat-mini-fab [ngClass]="{'clicked-btn': colorClub}" class="btn black" (click)="clickColor('CLUB')">&clubs;</button>
      <button mat-mini-fab [ngClass]="{'clicked-btn': colorDiam}" class="btn red" (click)="clickColor('DIAMOND')">&diams;</button>
      <button mat-mini-fab [ngClass]="{'clicked-btn': colorSpade}" class="btn black" (click)="clickColor('SPADE')">&spades;</button>
      <button mat-mini-fab [ngClass]="{'clicked-btn': colorHeart}" class="btn red" (click)="clickColor('HEART')">&hearts;</button>
    </div>
    <mat-divider></mat-divider>
    <div class="score-result">
      {{pointsLabel}} {{color}}
    </div>
    <div class="validateBtn">
      <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Validate</button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="bid-wrapper-2">
    <button class="fab" mat-raised-button color="accent" (click)="onNoClick()">Cancel</button>
    <button class="fab" mat-raised-button color="accent" (click)="clickPass()">Pass</button>
    <button class="fab" mat-raised-button color="accent" (click)="clickCoinche()">Coinche</button>
  </div>
</div>
