<mat-card>
  <mat-card-header>
    <div class="stepper-wrapper">
      <mat-horizontal-stepper #stepper [ngStyle]="{'fontSize': '11px'}">
        <mat-step [editable]="false">
          <ng-template matStepLabel>JOINING</ng-template>
        </mat-step>
        <mat-step [editable]="false">
          <ng-template matStepLabel>BIDDING</ng-template>
        </mat-step>
        <mat-step [editable]="false">
          <ng-template matStepLabel>PLAYING</ng-template>
        </mat-step>
        <mat-step [editable]="false">
          <ng-template matStepLabel>ENDED</ng-template>
        </mat-step>
        <mat-step [editable]="false">
          <ng-template matStepLabel>IDLE</ng-template>
        </mat-step>
      </mat-horizontal-stepper>

      <button mat-button (click)="onNext()">Next</button>
      <button mat-button (click)="onReset()">Reset</button>
    </div>

  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<br>

<mat-grid-list cols="5" [rowHeight]="rowHeight" gutterSize="0">
  <mat-grid-tile
    [colspan]="tiles[0].cols"
    [rowspan]="tiles[0].rows"
    [style.background]="tiles[0].color">
    <div class="player-south">
      <mat-chip-list aria-label="Player">
        <mat-chip class="matChipCol">South</mat-chip>
      </mat-chip-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[1].cols"
    [rowspan]="tiles[1].rows"
    [style.background]="tiles[1].color">
    <div class="player-east">
      <mat-chip-list aria-label="Player">
        <mat-chip class="matChipCol">East</mat-chip>
      </mat-chip-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[2].cols"
    [rowspan]="tiles[2].rows"
    [style.background]="tiles[2].color">
    <div class="background-table">
      <div class="wrapper-cards">
        <div class="row1">
          <app-card [card]="cardSouth" [isSmallScreen]="isSmallScreen"></app-card>
        </div>
        <div class="row2">
          <app-card [card]="cardSouth" [isSmallScreen]="isSmallScreen"></app-card>
          <app-card [card]="cardNorth" [isSmallScreen]="isSmallScreen"></app-card>
        </div>
        <div class="row2">
          <app-card [card]="cardNorth" [isSmallScreen]="isSmallScreen"></app-card>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[3].cols"
    [rowspan]="tiles[3].rows"
    [style.background]="tiles[3].color">
    <div class="player-west">
      <mat-chip-list aria-label="Player">
        <mat-chip class="matChipCol">West</mat-chip>
      </mat-chip-list>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[4].cols"
    [rowspan]="tiles[4].rows"
    [style.background]="tiles[4].color">
    <div class="wrapper-north">
      <div class="player-north">
        <mat-chip-list class="chip-north" aria-label="Player">
          <mat-chip class="matChipCol">North</mat-chip>
        </mat-chip-list>
      </div>
      <div class="background-table-my-cards">
        <ng-container *ngIf="myCardMap">
          <div>
            <div class="wrapper-cards-my-cards">
              <button class="card custom-shadow" *ngFor="let key of myCardMap?.keys(); index as i"
                      [ngStyle]="isSmallScreen ?
                                {'background':  myCardMap?.get(key)?.backgroundImgSmall} :
                                {'background':  myCardMap?.get(key)?.backgroundImg} "
                      (dblclick)="onDblClickCard($event, i, myCardMap?.get(key))"
                      [value]="myCardMap?.get(key)?.value">
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<!--<mat-card>
  <mat-card-header>
    <mat-card-title>My cards</mat-card-title>
  </mat-card-header>
  <mat-card-content class="background-table-my-cards">
    <ng-container *ngIf="myCardMap">
      <div>
        <div class="wrapper-cards-my-cards">
          <button class="card custom-shadow" *ngFor="let key of myCardMap.keys(); index as i"
                  [ngStyle]="{'background': myCardMap.get(key).backgroundImg}"
                  (click)="onClickCard($event, i, myCardMap.get(key))" [value]="myCardMap.get(key).value">
          </button>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>-->

<!--<div>
  <button class="card custom-shadow" [class.mat-elevation-z8]="isActive"
          [ngStyle]="isActive ? {'background': cA.backgroundImg} : {'background': backCard}"
          (click)="isActive = !isActive"
          [value]="cA.value">
  </button>
</div>-->
<!--<div>
  <button class="card custom-shadow" [class.mat-elevation-z8]="isActive"
          [ngStyle]="isActive ? {'background': cardMap.get('HEART5').backgroundImg} : {'background': backCard}"
          (click)="isActive = !isActive"
          [value]="cardMap.get('HEART5').value">
  </button>
</div>-->
<br/>

