@mixin width-height-card($width-value, $height-value) {
  width: $width-value;
  height: $height-value;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

@media(max-width: 959px) {
  .card {
    @include width-height-card(60px, 87px);
  }
  .card-played {
    @include width-height-card(60px, 87px);
  }

  .cards {
    min-height: 105px;
  }
}

@media(min-width: 960px) {
  .card {
    @include width-height-card(120px, 174px);
  }
  .card-played {
    @include width-height-card(120px, 174px);
  }
  .cards {
    min-height: 210px;
  }
}

div.row1 {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

div.row2 {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

div.row3 {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.background-table {
  background-color: darkgreen;
  max-width: 1200px;
  padding-top: 30px;
  padding-bottom: 15px
}

.wrapper-cards {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.background-table-my-cards {
  background-color: darkred;
  display: flex;
  justify-content: center;
  align-content: center;
}

.wrapper-cards-my-cards {
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stepper-wrapper {
  display: flex;
  flex-wrap: wrap;
}



