<mat-card>
  <mat-card-header>
    <div class="stepper-wrapper">
      <mat-horizontal-stepper #stepper [ngStyle]="{'fontSize': '11px'}">
        <mat-step [editable]="false">
          <ng-template matStepLabel>JOINING</ng-template>
        </mat-step>
        <mat-step [editable]="false">
          <ng-template matStepLabel>BIDDING</ng-template>
        </mat-step>
        <mat-step [editable]="false">
          <ng-template matStepLabel>PLAYING</ng-template>
        </mat-step>
        <mat-step [editable]="false">
          <ng-template matStepLabel>ENDED</ng-template>
        </mat-step>
        <mat-step [editable]="false">
          <ng-template matStepLabel>IDLE</ng-template>
        </mat-step>
      </mat-horizontal-stepper>

      <button mat-button (click)="onNext()">Next</button>
      <button mat-button (click)="onReset()">Reset</button>
    </div>

  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
</mat-card>
<br>

<mat-grid-list cols="5" rowHeight="120px" gutterSize="0">
  <mat-grid-tile
    [colspan]="tiles[0].cols"
    [rowspan]="tiles[0].rows"
    [style.background]="tiles[0].color">
    <div class="horizontal">
      <div>
        <span>Player 0</span>
        <button mat-raised-button color="primary">Submit</button>
        <button mat-raised-button color="accent">Cancel</button>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[1].cols"
    [rowspan]="tiles[1].rows"
    [style.background]="tiles[1].color">
    <div class="lateral">
      <div>
        <span>Player 1</span>
        <button mat-raised-button color="primary">Submit</button>
        <button mat-raised-button color="accent">Cancel</button>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[2].cols"
    [rowspan]="tiles[2].rows"
    [style.background]="tiles[2].color">
    <div class="background-table">
      <div class="wrapper-cards">
        <div class="row1">
          <app-card [card]="cardSouth"></app-card>
        </div>
        <div class="row2">
          <app-card [card]="cardSouth"></app-card>
          <app-card [card]="cardNorth"></app-card>
        </div>
        <div class="row3">
          <app-card [card]="cardNorth"></app-card>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[3].cols"
    [rowspan]="tiles[3].rows"
    [style.background]="tiles[3].color">
    <div>
      <div>
        <span>Player 2</span>
        <button mat-raised-button color="primary">Submit</button>
        <button mat-raised-button color="accent">Cancel</button>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="tiles[4].cols"
    [rowspan]="tiles[4].rows"
    [style.background]="tiles[4].color">
    <mat-card [ngStyle]="{'width': '100%'}">
      <mat-card-header>
        <mat-card-title>My cards</mat-card-title>
      </mat-card-header>
      <mat-card-content class="background-table-my-cards">
        <ng-container *ngIf="myCardMap">
          <div>
            <div class="wrapper-cards-my-cards">
              <button class="card custom-shadow" *ngFor="let key of myCardMap.keys(); index as i"
                      [ngStyle]="{'background': myCardMap.get(key).backgroundImg}"
                      (click)="onClickCard($event, i, myCardMap.get(key))" [value]="myCardMap.get(key).value">
              </button>
            </div>
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<!--<mat-card>
  <mat-card-header>
    <mat-card-title>My cards</mat-card-title>
  </mat-card-header>
  <mat-card-content class="background-table-my-cards">
    <ng-container *ngIf="myCardMap">
      <div>
        <div class="wrapper-cards-my-cards">
          <button class="card custom-shadow" *ngFor="let key of myCardMap.keys(); index as i"
                  [ngStyle]="{'background': myCardMap.get(key).backgroundImg}"
                  (click)="onClickCard($event, i, myCardMap.get(key))" [value]="myCardMap.get(key).value">
          </button>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>-->

<!--<div>
  <button class="card custom-shadow" [class.mat-elevation-z8]="isActive"
          [ngStyle]="isActive ? {'background': cA.backgroundImg} : {'background': backCard}"
          (click)="isActive = !isActive"
          [value]="cA.value">
  </button>
</div>-->
<!--<div>
  <button class="card custom-shadow" [class.mat-elevation-z8]="isActive"
          [ngStyle]="isActive ? {'background': cardMap.get('HEART5').backgroundImg} : {'background': backCard}"
          (click)="isActive = !isActive"
          [value]="cardMap.get('HEART5').value">
  </button>
</div>-->
<br/>

