<mat-card>
  <mat-card-header>
    <div class="stepper-wrapper">
      <mat-horizontal-stepper #stepper [ngStyle]="{'fontSize': '11px'}">
        <mat-step [editable]="false">
          <ng-template matStepLabel>JOINING</ng-template>
        </mat-step>
        <mat-step [editable]="false">
          <ng-template matStepLabel>BIDDING</ng-template>
        </mat-step>
        <mat-step [editable]="false">
          <ng-template matStepLabel>PLAYING</ng-template>
        </mat-step>
        <mat-step [editable]="false">
          <ng-template matStepLabel>ENDED</ng-template>
        </mat-step>
        <mat-step [editable]="false">
          <ng-template matStepLabel>IDLE</ng-template>
        </mat-step>
      </mat-horizontal-stepper>

      <button mat-button (click)="onNext()">Next</button>
      <button mat-button (click)="onReset()">Reset</button>
    </div>

  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>Table</mat-card-title>
  </mat-card-header>
  <mat-card-content class="background-table-my-cards">
    <div *ngFor="let el of [0]">
      <div class="wrapper-cards-my-cards">
        <button class="card custom-shadow" *ngFor="let card of map.get(el); index as i"
                [ngStyle]="{'background': card}" (click)="onClickCard($event, i, card)">
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>My cards</mat-card-title>
  </mat-card-header>
  <mat-card-content class="background-table-my-cards">
    <ng-container *ngIf="myCardMap">
      <div>
        <div class="wrapper-cards-my-cards">
          <button class="card custom-shadow" *ngFor="let key of myCardMap.keys(); index as i"
                  [ngStyle]="{'background': myCardMap.get(key).backgroundImg}"
                  (click)="onClickCard($event, i, myCardMap.get(key).value)" [value]="myCardMap.get(key).value">
          </button>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>

<!--<div>
  <button class="card custom-shadow" [class.mat-elevation-z8]="isActive"
          [ngStyle]="isActive ? {'background': cA.backgroundImg} : {'background': backCard}"
          (click)="isActive = !isActive"
          [value]="cA.value">
  </button>
</div>-->
<!--<div>
  <button class="card custom-shadow" [class.mat-elevation-z8]="isActive"
          [ngStyle]="isActive ? {'background': cardMap.get('HEART5').backgroundImg} : {'background': backCard}"
          (click)="isActive = !isActive"
          [value]="cardMap.get('HEART5').value">
  </button>
</div>-->
<br/>

